{% extends "master.html" %}
{% load static %}
{% block title %}Let's Get in Touch{% endblock %}
{% block body_style%}background: #DAAD86{% endblock %}

{% block content %}
<div class='container-fluid pt-3'>
    <h1>Hi there! I'm Evan</h1>
    
    <p>My journey into the world of technology began at Hofstra University, where I earned a degree in Computer Science and Cybersecurity. From web development to data structures, I explored various facets of the field, even venturing into the exciting realm of virtual reality for my senior project!</p>

    <p>Python has become my tool of choice for building software solutions. As a Software Engineer, I've had the opportunity to put my skills to the test, consistently delivering projects on time and exceeding expectations.</p>

    <p>However, collaboration is equally important to me. My experience leading student clubs honed my communication skills, allowing me to effectively connect with others and work towards shared goals.</p>

    <p>At the heart of it all, I'm a creative individual who thrives in collaborative environments. I'm passionate about using technology to solve problems and bring ideas to life, and I'm always eager to learn and grow alongside others.</p>

    <h2>What I Do</h2>
    <ul>
        <li>Python</li>
        <li>Javascript</li>
        <li>Django</li>
    </ul>

    <h2>Get in Touch</h2>
    <p>I'm always happy to connect! You can message me through <a href="https://www.linkedin.com/in/evanablake">LinkedIn</a> or through the <a href="/contact">Contact Page</a>.</p>

    <h2>Favorite Things</h2>
    <ul>
        <li>Food and Cooking</li>
        <li>Sports Analytics</li>
        <li>Watching Movies</li>
        <li>Hiking</li>
        <li>Traveling</li>
    </ul>

</div>

{% endblock %}