{% extends "master.html" %}
{% load static %}
{% block title %}Players List{% endblock %}
{% block body_style%}background: #1AAD86{% endblock %}

{% block content %}

<div class='container-fluid mx-auto w-50 mt-5'>
    <h1>Select a League</h1>
    <form method="POST">
        {% csrf_token %}
        <ul>
            {% for radio in form.selected_league %}
                <li>
                    {{ radio.tag }}
                    <label for="{{ radio.id_for_label }}">
                        {{ radio.choice_label|safe }}
                    </label>
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}