<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% block custom_css %}{% endblock %}
  {% block custom_script %}{% endblock %}
</head>
<body style="{% block body_style %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    <div id="navbar">
        {% include "navbar.html" %}
    </div>

    {% block content %}
    {% endblock %}

    <div id="footer">
        {% include "footer.html" %}
    </div>

</body>
</html>